*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
!app-release.apk
/captures
!build/outputs/apk/androidTest/debug/se.gritacademy.firebaserealtimedb-v1(1.0)-debug-androidTest.apk
.externalNativeBuild
.cxx
local.properties
